<h1>Platform for inputting quotes</h1>
<hr>
<div class="container">
    <div class="row" *ngFor="let quote of quotes;let i = 'index'">
        <div class="jumbotron">
          <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        
            <button class="btn btn-primary" (click)='toogleDetails(i)'>Toogle Details</button>
            <button class="btn btn-primary" (click)='upvoteFunction(i)'>Upvote</button>
            <p>{{quote.upvote}}</p>
            <button class="btn btn-primary" (click)='downvoteFunction(i)'>Downvote</button>
            <p>{{quote.downvote}}</p>
        </div>
        
        <div class="well" *ngIf="quote.showDescription">
        <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
    </div>
    
</div>

</div>
